<h1><%= Edit <%= @exercise.name%></h1>
<h1><%= Edit <%= @exercise.muscle_group%></h1>
<h1><%= Edit <%= @exercise.rep_range%></h1>

<form action="/exercises/<%=@exercise.id%>" method="POST">
  <label>Exercise Name</label>
  <input type="text" name="name" value="<%=@exercises.name%>">
  <br>
  <label>Exercise Muscle Group</label>
  <input type="text" name="muscle_group" value="<%=@exercises.muscle_group%>">
  <br>
  <label>Exercise Rep Range</label>
  <input type="text" name="rep_range" value="<%=@exercises.rep_range%>">
  <br>
  <input type="submit" value="Update">
</form>
