<h2> Edit Exercise </h2>

<form method="post" action="/exercises/<%=@exercise.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="exercise[name]" value="<%= @exercise.name %>">
  <input type="text" name="exercise[muscle_group]" value="<%= @exercise.muscle_group %>">
  <input type="integer" name="exercise[rep_range]" value="<%= @exercise.rep_range %>">

  <input type="submit" value="submit">
</form>

<!-- <form action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete this exercise">
</form> -->
