<h2>Welcome to the library of iron <%=current_user.username%></h2>
<% if logged_in? %>
    <a href="/users/show">Access Personal Library</a>
    <br><br>
    <a href="/exercises/new">Create A New Exercise</a>
    <br><br>
   <% else %>

   <a href="/signup">Not <%=current_user.username%>??  Shame on you and login to your own account!</a>
   <br>
   <%end%>
<% @exercises.each do |exercise|%><br>

  <label>Exercise Name: </label><%= exercise.name %><br>
  <label>Muscle Group: </label><%= exercise.muscle_group %><br>
  <label>Rep Range: </label><%= exercise.rep_range %><br>
  <a href="/exercises/<%=exercise.id%>/edit">Edit Exercise</a>
  <br>
  <%end%>


  <br>
  <a href="/">Home Page</a>
